@page
@model EmployeelistModel
@{
    ViewData["Title"] = "Employees";
}
<h1>@Model.EmployeeHeader</h1>

<form method="get">
    <div class="form-group">
        <div class="input-group">
            <input type="search" class="form-control" asp-for="SearchTerm" />
            <span class="input-group-btn">
                <button class="btn btn-default">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
</form>

@foreach (var employee in Model.lstEmployees)
{
    <partial name="_EmpWidget" model="employee" />
}
<a asp-page="./EmployeeEdit" class="btn btn-primary"> Add Employee</a>
