TTAssignment/.vs/TTAssignment/v15/Server/sqlite3/storage.ide-shm
TTAssignment/.vs/TTAssignment/v15/Server/sqlite3/storage.ide
TTAssignment/.vs/TTAssignment/v15/Server/sqlite3/db.lock
TTAssignment/.vs/TTAssignment/v15/Server/sqlite3/storage.ide-wal
TTAssignment/TTAssignment.Core/bin/
TTAssignment/TTAssignment.Core/obj/
TTAssignment/TTAssignment.Data/bin/
TTAssignment/TTAssignment.Data/obj/
TTAssignment/TTAssignment/bin/
TTAssignment/TTAssignment/obj/
